<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mmizzle9.microbudget" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="12" android:targetSdkVersion="12" />
	<application android:icon="@drawable/ic_launcher"></application>
</manifest>